/* Index css */
body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Topbar css */
.navlink-wrapper {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.sigmameals-logo {
  width: auto;
  border-radius: 0;
  height: 90px;
}
.search-bar {
  display: flex;
  padding-right: 45px;
}
.search-bar div {
  padding-right: 10px;
}

/* BrowseRecipes css */
.browse-recipes-content {
  margin-left: 30px;
  margin-right: 30px;
}

.recipe-container {
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding-bottom: 15px;
}

.recipe-title {
  font-size: larger;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipe-image {
  width: auto;
  height: 150px;
  margin: auto;
}

.recipe-cost {
  font-size: large;
}

.recipe-description {
  font-size: large;
}

.filter {
  display: block;
  padding: 20px;
  font-size: 1.5em;
}
.filter span {
  font-weight: bolder;
  text-decoration: underline;
  margin-bottom: 20px;
}
.sortby-filter label {
  font-size: 10px;
}

/* LandingPage css */
.landing {
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.landing-wrapper {
  width: 90vw;
  max-width: 1170px;
  display: flex;
  align-items: center;
}
.landing-details {
  width: 420px;
}
.foodImage {
  width: auto;
  height: 300px;
  margin-left: 20vw;
  border-radius: 90px;
}
.button-container {
  display: flex;
}
.button {
  padding-left: 12px;
}

/* Single Recipe css */
.single-recipe-container {
  display: grid;
  justify-content: center;
}
.single-recipe-title {
  font-size: 27px;
  font-weight: bold;
  margin: 30px;
  padding: 10px;
}
.recipe-info-container {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.ingredients-container {
  padding-left: 20px;
}
.single-recipe-image {
  width: auto;
  height: 360px;
}
.ingredient-text {
  font-size: 15px;
  text-decoration: underline;
}
.ingredient-li {
  font-size: 10px;
}
.instructions-container {
  padding-top: 20px;
}

/* Login Page */
.login-form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.login-card {
  width: 24rem;
  height: 30rem;
  box-shadow: 0px 0px 21px -7px #909090;
}
.login-card div {
  padding-bottom: 12px;
}
