.browse-recipes-content {
  margin-left: 30px;
  margin-right: 30px;
}

.recipe-container {
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding-bottom: 15px;
}

.recipe-title {
  font-size: larger;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipe-image {
  width: auto;
  height: 150px;
  margin: auto;
}

.recipe-cost {
  font-size: large;
}

.recipe-description {
  font-size: large;
}
