.register-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.842);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh; 
    min-height: 100%;
    width: 100vw;
    background-position: center; 
  }

  .con{
    color:black;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: transparent;
    flex-direction: column;
    font-family:"Open Sans";
  }
  .textWr{
    padding: 40px;
    background-color: rgb(30, 30, 30,0.7);
  }